/* ------------------------ */
/* Global and Base Styles   */
/* ------------------------ */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #242424;
  color: white;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  color: white;
}

p {
  color: white;
}

/* ------------------------ */
/* Page and Section Layout  */
/* ------------------------ */
.content-section {
  width: 100%;
  max-width: 1200px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content {
  text-align: center;
  padding: 1rem 0;
}

/* ------------------------ */
/* Plotly Specific Styles   */
/* ------------------------ */
.plotly-responsive-plot-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.plotly-responsive-plot {
  width: 1000px; /* Increased width for a larger map */
  height: 650px; /* Increased height for a larger map */
}

/* Responsive styles for smaller screens */
@media (max-width: 1024px) {
  .plotly-responsive-plot {
    width: 95vw;
    height: 60vh;
  }
}

.plotly .modebar-btn {
  font-size: 20px !important;
}

.plotly-responsive-plot-container .modebar {
  top: auto !important;
  bottom: -60px !important;
  right: 7% !important;
  transform: translateX(50%);
}